body {
    font-size:75%;
    color:#222;
    background:#eee;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
section#dropTarget {
    min-height: 100px;
    margin: auto;
    padding: 10px;
    border:1px solid black;
}
div#status {
    height: 100px;
    }
div#headings {
    width: 20%;
    height: 100%;
    float: left;
}
div#controls {
    float:left;
    height: 100%;
    width:60%;
    overflow: hidden;
}
div#controlscontrol {
    float:left;
    height: 100%;
    width:20%;
}

select {
    margin: 5px;
}
button {
    float: right;
    width: 80%;
    margin: 5px;
    width: 80%;
}

#chart {
		width: 75%;
		height: 480px;
		float:left;
	}

#map { height: 480px;
    overflow: hidden;
}


@media screen and (max-width: 1023px) {
   #chart {
    float: none;
    margin-right:0;
    width:auto;
  }
}
